body{
    margin: 0;
    padding: 0;
}
.box1{
    width: 100%;
    height: 100vh;
}
.main1{
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    display: flex;
}
.footer1{
    width: 100%;
    height: 40vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tip{
    height: 100%;
    width: 30%;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
}
.table{
    height: 100%;
    width: 70%;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    user-select: none;
    color: white;
    width: 100%;
    height: 0;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.info{
    font-size: 20px;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 25px 0px 20px;
    color: #00ff00;
    text-indent: 30px;
    text-align: justify; 
}
.test-tags{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.tag-information{
    margin: 10px 25px 0px 20px;
    font-size: 20px;
    text-indent: 35px;
    text-align: justify;
    user-select: none;
    color: #00ff00;
}
.test-tag{
    width: 100px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    color: white;
}
.tag{
    margin: 0;
    font-size: 20px;
}
.lvl_panel{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rebeccapurple;
    user-select: none;
}
.switch_lvl_btn{
    border: 0;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.back_next_lvl{
    margin-right: 30px;
    display: flex;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    color: red;
}
.tagbox{
    color: #f92672;
    font-size: 20px;
    margin: 0;
}
.text_white{
    color: white;
}