
body{
    margin: 0;
    padding: 0;
}
.box1{
    width: 100%;
    height: 100vh;
}
.main1{
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    display: flex;
}
.footer1{
    width: 100%;
    height: 40vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tip{
    height: 100%;
    width: 30%;
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;  
}
.table{
    height: 100%;
    width: 70%;
}
.title{
    /* margin: 10px 20px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    user-select: none;
    color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.instructions{
    width: 100%;
}
.info{
    font-size: 20px;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 25px 5px 20px;
    color: #00ff00;
    text-indent: 30px;
    text-align: justify;
}
.test-tags{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00ff00;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}
.tag{
    cursor: pointer;
}
.tag-info{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    display: none;
    background-color: #2f3129;
    left: 290px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.tag-information{
    margin: 0px 20px 0px 20px;
    font-size: 15px;
    text-indent: 35px;
    text-align: justify;
}
.test-tag{
    width: 100px;
    height: 30px;
    margin: 20px;
}

#tag-1:hover ~ #tag-info-1{
    display: flex;
    top: 200px;
}
#tag-info-1:hover{
    display: flex;
    top: 200px;
}

#tag-2:hover ~ #tag-info-2{
    display: flex;
    top: 260px;
}
#tag-info-2:hover{
    display: flex;
    top: 260px;
}
#tag-3:hover ~ #tag-info-3{
    display: flex;
    top: 320px;
}
#tag-info-3:hover{
    display: flex;
    top: 320px;
}